$grid-breakpoints: (
  xs: 0,
  md: 800px
);

$container-max-widths: (
  md: 1140px
);

@import 'bootstrap-grid';

$text-color: #004b13;
$background-color: #f5f5f5;

$font-name: 'AttoMedium';

$font-size: 15px;
$font-size-h1: 2rem;
$font-size-h2: 1.25rem;

$line-heigth: 1.25;

$border-width: 2px;

$space: 1rem;
$space-large: $space * 2;

@font-face {
  font-family: $font-name;
  font-weight: regular;

  src: url('../fonts/atto_medium.woff') format('woff');
}

* {
  color: inherit;

  font-family: inherit;
  line-height: inherit;
}

html {
  hyphens: auto;

  color: $text-color;
  background-color: $background-color;

  font-family: #{$font-name}, sans-serif;
  font-size: $font-size;
  line-height: $line-heigth;
}

body {
  margin: 0;
}

.row + .row {
  margin-bottom: $space;
}

img {
  width: 100%;
}

.brand {
  text-decoration: none;
  border-bottom-style: none;

  img {
    width: 100%;
    margin-top: 6rem;

    @media (max-width: map-get($grid-breakpoints, md)) {
      margin-top: 0;
    }
  }
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12rem; // set to align top column axis

  @media (max-width: map-get($grid-breakpoints, md)) {
    margin-top: 0;
  }
}

.navigation-button {
  display: none;
  border-style: none;
  margin: 0;
  padding: {
    left: 0;
    right: 0;
    top: $space;
    bottom: $space;
  }
  align-self: flex-end;
  font-size: inherit;
  background-color: transparent;
  z-index: 200;
  @media (max-width: map-get($grid-breakpoints, md)) {
    display: block;
  }
}

.navigation-menu {
  @media (max-width: map-get($grid-breakpoints, md)) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #eee;
    z-index: 100;
    align-items: center;
    justify-content: center;
  }
}

.navigation-menu-visible {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    margin-bottom: $space;
  }

  a {
    border-bottom-style: none;
  }
}

a, .active {
  text-decoration: none;
  border-bottom: 2px solid;
}

h1, h2, p, ul {
  margin-top: 0;
  margin-bottom: $space;
}

ul {
  padding: 0;
}

li {
  margin-left: $space;
  margin-right: $space;

  & + li {
    margin-top:  $space / 4;
  }

  &.no-bullet {
    list-style-type: none;
    margin-top: $space;
  }
}

h1, h2 {
  font-weight: normal;
}

h1, .text-large {
  margin: 0;
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

u {
  text-decoration: none;
  border-bottom: $border-width solid;
}

.header {
  height: 180px; // set to align top column axis

  @media (max-width: map-get($grid-breakpoints, md)) {
    height: inherit;
  }

  display: flex;
  align-items: flex-end;
  padding-bottom: $space;
}

.portrait {
  max-width: 200px;
}

.back-to {
  text-align: right;
}

.scroll-disabled {
  overflow: hidden;
}
