<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= partial :head %>
  <body>
    <div class="container">
      <div class="row">
        <div class="nav-container col-md-2">
          <%= partial :navigation %>
        </div>

        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
