---
import Layout from "../../layouts/Layout.astro";
import Logo from "../../components/Logo.astro";
---

<Layout>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <Logo />
      </div>
    </div>
  </div>
</Layout>
