---
import "../styles/main.css";
import logo from "../assets/logo.svg";
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href={logo.src} type="image/svg+xml" />
    <title>Bye</title>
  </head>
  <body>
    <slot />
  </body>
</html>
