<nav>
  <button class="navigation-button">
    <u>Menü</u>
  </button>

  <div class="navigation-menu">
    <ul>
      <li>
        <%= link_to 'Herausforderung', '/gain.html', class: nav_active('gain.html') %>
      </li>
      <li>
        <%= link_to 'Angebot', '/offer.html', class: nav_active('offer.html') %>
      </li>
      <li>
        <%= link_to 'Expertise', '/about.html', class: nav_active('about.html') %>
      </li>
      <li>
        <%= link_to 'Kontakt', '/contact.html', class: nav_active('contact.html') %>
      </li>
    </ul>
  </div>
</nav>
