---
title: Person Claudia Staub
meta_description: Vision, dass Nachhaltigkeit zum selbstverständlichen Handlungsansatz in Unternehmen wird. Erfahrung und Expertise in Nachhaltigkeitskonzept Grosshandel, Detailhandel, WWF, FHNW,nachhaltige Lieferketten, Food und Non Food, Gremien wie BSCI, BEPI, Soja, Palmöl, Workshops, Berichterstattung
---
<div class="row header">
  <div class="col-md-8">
    <h1>
      Nachhaltigkeit: Vom Konzept zur Umsetzung mit unserer Expertise.
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    <h2>
      <u>Erfahrung und Expertise</u>
    </h2>
    <ul>
      <li>Erarbeitung und Umsetzung individuell Nachhaltigkeitskonzept für Handel, Industrie, Gastronomie und Universität</li>
      <li>Projektleitung für nachhaltige Lieferketten und Nachhaltigkeitsstandards für Food und Non Food (Rohstoffe wie Kakao, Palmöl, Soja, Kaffee, Baumwolle sowie Textil)</li>
      <li>Erstellen von Zielsystemen, Prozessen, Kennzahlencontrollings und Beschaffungsrichtlinien</li>
      <li>Strategieentwicklung innerhalb der Planetary Boundaries und Sustainable Development Goals (SDG)</li>
      <li>Leitung von Workshops und internen Ausbildungen für Lieferanten und Mitarbeitende</li>
      <li>Erstellen von Kommunikationskonzepten mit Bezug auf Nachhaltigkeit in Unternehmen und die dazu erforderlichen Kommunikationsunterlagen</li>
    </ul>
    <h2>
      <u>Branchen</u>
    </h2>
    <ul>
      <li>Detail- und Grosshandel</li>
      <li>Universität</li>
      <li>Industrie</li>
      <li>NGO’s</li>
    </ul>
    <h2>
      <%= link_to 'Lebenslauf Claudia Staub auf LinkedIn →', 'https://www.linkedin.com/in/claudia-staub-0154ab44', target: 'blank' %>
    </h2>
    <h2>
      <%= link_to 'Lebenslauf Dr. Denise Bienz auf Linkedin →', 'https://www.linkedin.com/in/denise-bienz-septinus-31509986/', target: 'blank' %>
    </h2>
  </div>
  <div class="col-md-5">
    <div class="image">
      <%= image_tag 'claudia-staub.jpg', alt: 'Portrait Bild von Claudia Staub', class: 'portrait' %>
      <p>Claudia Staub, Inhaberin und Expertin Nachhaltigkeit</p>
    </div>
    <div class="image">
      <%= image_tag 'denise-bienz.jpeg', alt: 'Portrait Bild von Denise Bienz', class: 'portrait' %>
      <p>Dr. Denise Bienz, Senior Expertin Nachhaltigkeit</p>
    </div>
  </div>
</div>
