---
title: Ihr Gewinn
meta_description: Beschäftigt Sie das Thema Nachhaltigkeit und möchten Sie wissen, wie Sie Nachhaltigkeit praktisch und gewinnbringend in Ihrem Geschäftsalltag selbstständig umsetzen können? Erfolgreich dank Nachhaltigkeit mit fundierten Kenntnissen zu ihren Chancen und Risiken im Kerngeschäft.
---
<div class="row header">
  <div class="col-md-8">
    <h1>
      Konzept & Umsetzung<br>
      Nachhaltigkeit
    </h1>
  </div>
</div>
<div class="row">
  <div class="text-large col-md-7">
    <p>
      Beschäftigt Sie das Thema Nachhaltigkeit? Werden Sie von Ihren Auftraggebern, Lieferanten, Kunden oder auch Mitarbeitenden immer Öfters darauf angesprochen?
    </p>
    <p>
      Fehlt Ihnen das Wissen, wie das eigene Unternehmen tatsächlich betroffen ist - trotz Studien und vielen Informationen?
    </p>
    <p>
      Möchten Sie praktische Handlungsanweisungen, um Nachhaltigkeit in Ihrem Geschäftsalltag umzusetzen?
    </p>
  </div>
  <div class="col-md-5">
    <h2>
      <u>Der Plan</u>
    </h2>
    <p>
      Ich biete Ihnen an, Nachhaltigkeit pragmatisch und gewinnbringend in Ihrem Unternehmen einzubinden. In unserer Zusammenarbeit identifizieren wir die relevanten Nachhaltigkeits-Chancen und Risiken. Wir starten Pilotprojekte und verankern praktische Umsetzungsleitfäden in die bereits bestehenden Strategien.
    </p>
    <p>
      Als Ergebnis halten Sie einen massgeschneiderten Nachhaltigkeits-Plan in der Hand. Den Plan können Sie und Ihre Mitarbeitenden selbstständig weiterverfolgen und umsetzen. Bleiben Sie erfolgreich dank Nachhaltigkeit.
    </p>
    <h2>
      <u>Ihr Gewinn</u>
    </h2>
    <ul>
      <li>Fundierte Kenntnisse der Chancen und Risiken von Nachhaltigkeits-Themen im Kerngeschäft</li>
      <li>Erprobte und praktische Anleitung zur selbstständigen Umsetzung von Nachhaltigkeits-Projekten</li>
      <li>Kostensenkung durch Effizienzsteigerung und Risikominimierung</li>
      <li>Vorteile in der Kundenbindung und bei öffentlichen Ausschreibungen</li>
      <li>Bessere Einflussnahme auf staatliche Regulierungen und Steigerung der Reputation</li>
      <li>Attraktives und zukunftsweisendes Geschäftsmodell mit klaren Nachhaltigkeits-Zielen</li>
    </ul>
  </div>
</div>
