---
layout: welcome
meta_description: Claudia Staub, Konzept & Umsetzung Nachhaltigkeit in Unternehmen. Gemeinsame Erarbeitung eines massgeschneiderten Nachhaltigkeits-Plans. Beratung, Consulting, Strategie, Entwicklung
---
<% content_for :footer do %>
  <div class="col-md-3">
    <p>
      Konzept & Umsetzung<br>
      Nachhaltigkeit
    </p>
  </div>
<% end %>

<% link_to '/gain.html', class: 'brand' do %>
  <%= image_tag 'logo.svg', alt: 'Claudia Staub, Konzept & Umsetzung Nachhaltigkeit' %>
<% end %>
