---
layout: welcome
title: Ihr Gewinn
meta_description: Beschäftigt Sie das Thema Nachhaltigkeit und möchten Sie wissen, wie Sie Nachhaltigkeit praktisch und gewinnbringend in Ihrem Geschäftsalltag selbstständig umsetzen können? Erfolgreich dank Nachhaltigkeit mit fundierten Kenntnissen zu ihren Chancen und Risiken im Kerngeschäft.
---
<% content_for :footer do %>
  <div class="col-md-3">
    <p>
      Claudia Staub<br>
      Konzept & Umsetzung<br>
      Nachhaltigkeit
    </p>
  </div>
<% end %>

<% link_to '/gain.html', class: 'brand' do %>
  <%= image_tag 'logo.svg', alt: 'Claudia Staub, Konzept & Umsetzung Nachhaltigkeit' %>
<% end %>
