---
title: "Ihr Nachhaltigkeit-Plan"
meta_description: "Ihr Nachhaltigkeit-Plan: Zusammen entwickelt, erprobt und integriert. Basis schaffen mit Analyse Daten, Aufbau starten mit Pilotprojekten und praktischen Handlungsanleitungen, Integration ermöglichen mit Kommunikation und Fortsetzung gewährleisten  mit Zielsystem."
---
<div class="row header">
  <div class="col-md-8">
    <h1>
      Ihr Nachhaltigkeits-Plan: Zusammen entwickelt, erprobt und integriert.
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>
      <u>A Basis schaffen</u>
    </h2>
    <ul>
      <li>Analyse Ihrer Unternehmens-Daten</li>
      <li>Auswahl der relevanten Nachhaltigkeitsthemen und Stakeholder</li>
      <li>Priorisierung der unternehmensspezifischen Chancen und Risiken</li>
      <li class="no-bullet">Dauer 1–2 Monate</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h2>
      <u>B Aufbau starten</u>
    </h2>
    <ul>
      <li>Start von Pilotprojekten mit ökonomischem, sozialem und ökologischem Nutzen</li>
      <li>Einbindung der Nachhaltigkeit in Ihre Strategien und Prozesse</li>
      <li>Erarbeitung von praktischen Handlungsanleitungen</li>
      <li class="no-bullet">Dauer 1–2 Monate</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>
      <u>C Integration ermöglichen</u>
    </h2>
    <ul>
      <li>Schulung und Motivation der Mitarbeitenden</li>
      <li>Befähigung zur selbstständigen Umsetzung</li>
      <li>Erstellen von Kommunikationsmaterialien</li>
      <li class="no-bullet">Dauer 1 Monat</li>
    </ul>
  </div>

  <div class="col-md-6">
    <h2>
      <u>D Fortsetzung gewährleisten</u>
    </h2>
    <ul>
      <li>Erarbeitung eines Zielsystems und Kennzahlencontrollings</li>
      <li>Regelmässige Messung des Fortschritts und Berichterstattung</li>
      <li>Anpassung der Massnahmen und Projekte</li>
      <li class="no-bullet">Dauer 1 Monat</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>
      <%= link_to '↓ Grafik Nachhaltigkeits-Plan', '/plan.html' %>
    </h2>
  </div>
</div>
