---
title: Grafik Nachhaltigkeit-Plan
meta_description: 'In 4-6 Monaten zu Ihrem massgeschneiderten Nachhaltigkeits-Plan: Relevanz-Analyse mit Chancen und Risiken, Pilotprojekten, Kommunikation und Ausbildung sowie Ziele und Controlling.'
---

<div class="row header">
  <div class="col-md-8">
    <h1>
      Ihr Nachhaltigkeits-Plan:
    </h1>
  </div>
  <div class="col-md-4">
    <h1 class="back-to">
      <%= link_to '↑', '/offer.html' %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= image_tag 'plan.svg' %>
  </div>
</div>
